---
interface Props {
    class?: string;
    rotate?: boolean;
    [x: string]: any;
}

const { class: className, rotate = false, ...rest } = Astro.props;
---

<div
    class:list={[
        "sticker-card p-6",
        rotate ? (Math.random() > 0.5 ? "rotate-1" : "-rotate-1") : "",
        className,
    ]}
    {...rest}
>
    <slot />
</div>
